.login {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
}

.form {
    margin: 30px 0;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.input-wrapper:nth-of-type(2) {
    margin: 30px 0;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.links-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}

.links-wrapper a {
    color: var(--primary-color);
    font-weight: 600;
}

.links-wrapper a:hover {
    color: var(--primary-hover-color);
    font-weight: 600;
}

.error {
    height: 20px;
    margin: 10px 0 25px;
    color: red;
    font-weight: 600;
}